<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us - Tienda Retro Nintendo 64</title>
</head>
<body>

  <main>
    <section id="about-us">
      <div class="content">
        <div class="text">
          <h1>Sobre Nosotros</h1>
          <p>Bienvenido a la Tienda Retro Nintendo 64, tu destino para los nostálgicos juegos de la consola Nintendo 64.</p>
          <p>Somos apasionados por los videojuegos clásicos y nos especializamos en ofrecer una amplia selección de juegos de Nintendo 64, desde los icónicos hasta los tesoros ocultos.</p>
          <p>Nuestro objetivo es proporcionar a los aficionados una experiencia de compra única, donde puedan revivir la magia de la era dorada de los videojuegos.</p>
        </div>
        <div class="image">
            <img src="https://sm.ign.com/t/ign_es/screenshot/default/top10-n64-blogroll-1633111282839_y4ws.1280.jpg" alt="Nintendo 64" />
        </div>
      </div>
    </section>
  </main>

  <footer>
    <p>&copy; 2023 Tienda Retro Nintendo 64. Todos los derechos reservados.</p>
  </footer>

</body>
</html>